* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 20px 0 20px 10px
}

#notes-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 70%;
    max-width: 800px;
}

.note {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1.5
}

.note-title, .note-text {
    margin: 15px;
}

.note-title {
    display: inline;
}

.note-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 18px;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(212, 212, 212);
}

button:active {
    background-color: rgb(189, 188, 188);
}

#new {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  padding: 8px 18px;
  margin: auto;
}

#new:hover {
    background-color: #2c974b;
}

#new:active {
  background-color: #298e46;
}

#save {
    margin: 0 0 30px 10px;
    width: 100px;
}